
@{
    ViewBag.Title = "Home Page"; ;
}

<div id="Content" class="center row">

    <div class="col-sm-12" style="display:none">
        <br />

        <h3>@InvestmentCalculator.Resources.Home.Shares</h3>
        <div class="Zone">
            <label class="label">Type</label>
            <select id="Type" onchange="TypeChanged()">
                <option value="1">@InvestmentCalculator.Resources.Home.Actions</option>
                <option value="2">@InvestmentCalculator.Resources.Home.Sicav</option>
            </select>
        </div>

    </div>

    <div class="col-sm">
        <br />
        <h3>@InvestmentCalculator.Resources.Home.Buy</h3>
        <div class="Zone">
            <label class="label">@InvestmentCalculator.Resources.Home.Quantity</label>
            <input type="text" id="SharesBuy" class="input" value="0" oninput="CalculateBuy()" onkeypress='validate(event)' />
        </div>
        <div class="Zone">
            <label class="label">@InvestmentCalculator.Resources.Home.PurchasePrice</label>
            <input type="text" id="PriceBuy" class="input" value="0" oninput="CalculateBuy()" onkeypress='validate(event)' />
        </div>
        <div class="Zone">
            <label class="label">@InvestmentCalculator.Resources.Home.TOB</label>
            <input type="number" step="any" class="input-left" id="PercTOBBuy" value="0.35" oninput="CalculateBuy()" onkeypress='validate(event)' />
            <input type="text" class="input-right" id="TOBBuy" value="0" disabled />
        </div>
        <div class="Zone">
            <label class="label">@InvestmentCalculator.Resources.Home.Commision</label>
            <input type="text" id="CommissionBuy" class="input" value="0" oninput="CalculateBuy()" onkeypress='validate(event)' />
        </div>

        <br />

        <div class="Zone">
            <label class="label">@InvestmentCalculator.Resources.Home.TotalCost</label>
            <input type="text" id="ResultBuy" class="input" value="0" disabled />

        </div>

    </div>
    <div class="col-sm">
        <br />
        <h3>@InvestmentCalculator.Resources.Home.Sell</h3>
        <div class="Zone">
            <label class="label">@InvestmentCalculator.Resources.Home.Quantity</label>
            <input type="text" id="SharesSell" class="input" value="0" oninput="CalculateSell()" onkeypress='validate(event)' />
        </div>
        <div class="Zone">
            <label class="label">@InvestmentCalculator.Resources.Home.SellPrice</label>
            <input type="text" id="PriceSell" class="input" value="0" oninput="CalculateSell()" onkeypress='validate(event)' />
        </div>
        <div class="Zone">
            <label class="label">@InvestmentCalculator.Resources.Home.TOB</label>
            <input type="number" step="any" class="input-left" id="PercTOBSell" value="0.35" oninput="CalculateSell()" onkeypress='validate(event)' />
            <input type="text" class="input-right" id="TOBSell" value="0" disabled />
        </div>
        <div class="Zone">
            <label class="label">@InvestmentCalculator.Resources.Home.Commision</label>
            <input type="text" id="CommissionSell" class="input" value="0" oninput="CalculateSell()" onkeypress='validate(event)' />
        </div>

        <br />

        <div class="Zone">
            <label class="label">@InvestmentCalculator.Resources.Home.Result</label>
            <input type="text" id="ResultSell" class="input" value="0" disabled />

        </div>
    </div>

    <div class="col-sm">
        <br />
        <br />

        <h3>@InvestmentCalculator.Resources.Home.CapitalGain</h3>
        <div class="Zone">
            <label class="label">@InvestmentCalculator.Resources.Home.FinalResult</label>
            <input type="text" id="Result" class="input" value="0" disabled />
        </div>
        <div id="SicavTax" >
            <div class="Zone Tax">
                <label class="label">@InvestmentCalculator.Resources.Home.Tax</label>
                <input type="number" step="any" id="PercTax" class="input-left" value="30" onchange="CalculateTax()" onkeypress='validate(event)' />
                <input type="text" id="Tax" class="input-right" value="0" disabled />
            </div>
            <div class="Zone Tax">
                <label class="label">@InvestmentCalculator.Resources.Home.Net</label>
                <input type="text" id="Net" class="input" value="0" disabled />

            </div>
        </div>
        <br />
    </div>
</div>

